#pruebadecss{
    background-color:pink;
    padding: 30px;
    margin: 50px auto;
    width: 210.88px;
    text-align: center;
    border: red 5px dashed;
    
} 
body{
    background-image:url(6f5c58cbdb45d470fb21054337bbe0a4.gif) ;
    
}
